.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.button {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;

  border: 0.5px solid #3d444d;
  background-color: #212830;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  color: #898c90;
}

.containerScore {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;

  border: 0.5px solid #9e6a03;
  background-color: #212830;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #d29922;
  padding: 6px 16px;
}

.score {
  color: #d29922;
  margin-left: 5px;
  font-weight: 600;
  font-size: 14px;
}
