.wrapper {
  background-color: #0d1117;
  position: relative;
  min-height: 100vh;
}

.centeredIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0.1;
}

.fingerprint {
  color: #898c90;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 14%;
  display: flex;
  justify-content: center;
}
