.wrapper {
  background-color: #0d1117;
  position: relative;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}

.carousel_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  width: 95%;
}

.farm_score {
  position: absolute;
  right: 0;
  left: 0;
  top: -6px;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.farm_score p {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;

  border: 0.5px solid #9e6a03;
  background-color: #212830;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #d29922;
  padding: 6px 16px;
}

.carousel_facts {
  font-size: 24px;
  color: #fff;
  text-align: center;

  border: 0.5px solid #9e6a03;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;

  width: 100%;
  height: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Добавляем стеклянный эффект */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.carousel_facts p {
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fingerprint_container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round_over_text {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;

  border: 0.5px solid #9e6a03;
  background-color: #212830;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #d29922;
  padding: 6px 16px;
}

.fingerprint {
  color: #898c90;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.fingerprint.active::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: electricEffect 1.5s infinite;
}

@keyframes electricEffect {
  0% {
    box-shadow: 0 0 5px #d29922, 0 0 10px #d29922;
  }
  50% {
    box-shadow: 0 0 15px #9e6a03, 0 0 30px #9e6a03;
  }
  100% {
    box-shadow: 0 0 5px #d29922, 0 0 10px #d29922;
  }
}
