.wrapper {
  background-color: #0d1117;
  position: relative;
  min-height: 100vh;
}

.centeredIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0.1;
}

.fingerprint_container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fingerprint {
  color: #898c90;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.fingerprint.active::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: electricEffect 1.5s infinite;
}

@keyframes electricEffect {
  0%,
  20% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.6),
      0 0 45px rgba(0, 255, 255, 0.4);
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.6),
      0 0 35px rgba(255, 255, 0, 0.4);
  }
  75% {
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.8), 0 0 30px rgba(255, 0, 255, 0.6),
      0 0 45px rgba(255, 0, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}
