.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.points_counter {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.counter {
  font-family: "Slackey", sans-serif;
  font-size: 52px;
  color: rgba(255, 255, 255, 1);
  text-stroke: 1px rgba(232, 180, 28, 1);
  -webkit-text-stroke: 1px rgba(232, 180, 28, 1);
}

.progressWrapper {
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: #76c7c0;
  transition: width 1s linear;
}
